.fieldset {
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-field {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-field:first-of-type,
.fieldset:first-of-type {
  margin-top: 0;
}

.form-field:last-of-type,
.fieldset:last-of-type {
  margin-bottom: 0;
}
