/* styles go here */
/* .form {
  padding: 0;
  padding-left: 4px;
} */

.fieldset {
  /* margin: 20px 0;
  margin-bottom: 20px;
  margin-top: 0;
  padding-bottom: 0; */
  margin-bottom: 20px;
  padding-bottom: 0;
}

label {
  margin-bottom: 10px;
  display: block;
}
/* .input {
  margin: 5px auto;
}

.form__field {
  display: block;
}

.add_com {
  margin: 5px auto;
  margin-top: 0;
}

.add_rec {
  margin: 10px auto;
  margin-bottom: 0;
}

.int-color {
  margin: 5px;
}

.block {
  margin: 10px;
  margin-left: 0;
  margin-top: 0;
  padding-bottom: 0;
}

.int_car {
  margin: 0;
}

.button {
  margin: 0;
} */
